<div class='container'>
  <h1><%= user.firstName + " " + user.lastName + " (" + user.userName +  ")" %> </h1>
  <h3>additional info</h3>
  <hr>
  <h3>email: <%= user.email %> </h3>
  <br/>
  <p><%= user.address %></p>
  <p><%= user.city %>, <%= user.state %> <%= user.zip %></p>
  <p><%= user.country %></p>
  <br/>
  <h3>phone: <%= user.phoneNumber %> </h3>
  <hr>
  <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
</div>
